<%- model_class = Pet -%>
<div class="page-header">
  <!--<h1><%=t '.title', :default => [:'helpers.titles.new', 'Nueva %{model}'], :model => model_class.model_name.human.titleize %></h1>-->
  <h1>Nueva Mascota</h1>
</div>
<%= render :partial => 'form' %>
