<p id="notice"><%= notice %></p>

<p class="flow-text">
  <strong>Nombre:</strong>
  <%= @type_product.name %>
</p>

<%= link_to 'Editar', edit_type_product_path(@type_product), :class=>"waves-effect waves-light btn" %> |
<%= link_to 'Atras', type_products_path, :class=>"waves-effect waves-light btn" %>
