<h1>Editar producto</h1>

<%= render 'form', product: @product %>

<%= link_to 'Mostrar', @product,:class => 'btn btn-primary'  %> 
<%= link_to 'Atras', products_path, :class => 'btn btn-primary'  %>
